
body {
    font-family: 'Noto Sans', sans-serif;
}
header h1 {

    text-align: center;
    color: white;
    padding: 50px;
    margin: 0;
}
header {
    background-color: #1F1F1F;
    
}


main {
    background-image: url('background-img-M104.jpg'); height: 500px;
    
}


#container {
    display:flex;
}

/* =================Form================= */
#myform {
    padding: 40px;
    
    width: 200px;
    
    background-color: rgb(0, 79, 143,.8);
}

label {
text-align: center;
color: white;
margin-left: 80px;
}

input[type=text],input[type=date], select {

    width: 200px;
    margin: 8px 0px; 

}

input[type=submit] {

    width: 200px;
    margin: 8px 0px; 
    background-color:#1F1F1F;
    color: white;
}

table{

    background-color: rgb(0, 79, 143,.8);
    
    /* border:5px white; */
    margin-left: 150px;
    margin-top: 50px;
    padding: 50px;
    padding-top: 80px;
    padding-bottom: 80px;
    }
      
    td , th {
        height: 100px;
        width: 50px;
        font-size: 20px;
        background-color: #1F1F1F;
        color:white
          }